[submodule "joonBlog/themes/hugo-coder"]
	path = joonBlog/themes/hugo-coder
	url = https://github.com/luizdepra/hugo-coder.git
[submodule "joonBlog/public"]
	path = joonBlog/public
	url = https://github.com/Halfgear/Halfgear.github.io.git
	branch = main
